{% extends 'base.html' %}

{% block title %}{% if contas_pagar %}Editar{% else %}Novo{% endif %} - Contas a Pagar{% endblock %}

{% block page_title %}{% if contas_pagar %}Editar{% else %}Novo{% endif %} Contas a Pagar{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <i class="bi bi-arrow-up-circle"></i>
            {% if contas_pagar %}Editar{% else %}Cadastrar{% endif %}
        </h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
                <div class="mb-3">
                    <label for="home_beneficiada" class="form-label">Beneficiário </label>
                    <input type="text" class="form-control" id="home_beneficiada" name="home_beneficiada"
                           value=""
                           >
                </div>
            
                <div class="mb-3">
                    <label for="data_vencimento" class="form-label">Data Vencimento *</label>
                    <input type="date" class="form-control" id="data_vencimento" name="data_vencimento"
                           value=""
                           required>
                </div>
            
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor *</label>
                    <input type="number" class="form-control" id="valor" name="valor"
                           value=""
                           required>
                </div>
            
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="3"
                           ></textarea>
                </div>
            
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status" >
                        <option value="">Selecione...</option>
                        <option value="Pendente">Pendente</option><option value="Pago">Pago</option><option value="Atrasado">Atrasado</option>
                    </select>
                </div>
            
            <hr>
            <div class="d-flex justify-content-between">
                <a href="{% url 'contas_pagar_list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle"></i> Salvar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}